requests==2.32.5
pinecone
sentence-transformers
langchain
langchain-community
pypdf
pdfplumber
spacy
groq
textblob
fuzzywuzzy
python-Levenshtein
transformers
torch
streamlit
python-dotenv
fastapi
uvicorn
pydantic
langchain-huggingface
langchain-text-splitters